@model DevIME.Models.BankProfileDB

@{
    ViewBag.Title = "Edit";
    ViewBag.Active3 = "active";
}
@section featured {
    <div class="warnaBody col-lg-offset-2">
        <form method="post" action="">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table class="col-lg-offset-1">
                <tr>
                    <td>
                        <div class="margin-semua-form">@Html.Label("Nama")</div>
                    </td>
                    <td>
                        <input type="text" name="Nama" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Nama">
                    </td>
                    <td>
                        <div class="margin-semua-form col-lg-offset-5">@Html.Label("Email Eksportir")</div>
                    </td>
                    <td>
                        <input type="email" name="EmailEksportir" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Email Eksportir">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="margin-semua-form">@Html.Label("Alamat 1")</div>
                    </td>
                    <td>
                        <input type="text" name="Alamat1" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Alamat 1">
                    </td>
                    <td>
                        <div class="margin-semua-form col-lg-offset-5">@Html.Label("AO")</div>
                    </td>
                    <td>
                        <input type="text" name="AO" class="form-control col-lg-offset-2 margin-semua-form" placeholder="AO">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="margin-semua-form">@Html.Label("Alamat 2")</div>
                    </td>
                    <td>
                        <input type="text" name="Alamat2" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Alamat 2">
                    </td>
                    <td>
                        <div class="margin-semua-form col-lg-offset-5">@Html.Label("Email GIII")</div>
                    </td>
                    <td>
                        <input type="email" name="EmailGIII" class="form-control col-lg-offset-2 margin-semua-form" placeholder="EmailGIII">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="margin-semua-form">@Html.Label("Provinsi")</div>
                    </td>
                    <td>
                        <input type="text" name="Provinsi" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Provinsi">
                    </td>
                    <td>
                        <div class="margin-semua-form col-lg-offset-5">@Html.Label("Email PIC")</div>
                    </td>
                    <td>
                        <input type="email" name="EmailPIC" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Email PIC">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="margin-semua-form">@Html.Label("Kota")</div>
                    </td>
                    <td>
                        <input type="text" name="Kota" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Kota">
                    </td>
                    <td>
                        <div class="margin-semua-form col-lg-offset-5">@Html.Label("Status Surat")</div>
                    </td>
                    <td>
                        <input type="text" name="StatusSurat" class="form-control col-lg-offset-2 margin-semua-form" placeholder="Status Surat">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-default col-lg-offset-2 margin-semua-form" id="show">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        <div class="margin-semua-form" style="display: none;" id="divcoba">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times; </button>
                Success! Well done its submitted.
            </div>
        </div>
        <div class="margin-semua-form" style="display: none;" id="divcoba2">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                You've just cancelled the submission.
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}