@model IEnumerable<DevIME.Models.ExpProfileDB>

@{
    ViewBag.Title = "Index";
    ViewBag.Active3 = "active";
}

<div class="warnaBody col-lg-offset-2">
    <p>
        @Html.ActionLink("Create New", "ExpCreate")
    </p>
    <table class="table col-lg-offset-1 table-responsive table-bordered table-striped table-condensed table-hover" style="width:80%;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.npwp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_ao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_g3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_surat)
            </th>
            <th>
                @Html.Label("Action")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.npwp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email_ao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email_g3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email_pic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status_surat)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.peid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.peid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.peid })
                </td>
            </tr>
        }

    </table>
</div>